DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ml_intermediate_api?schema=public"
PORT=3001
AUTH_STATUS=off
JWT_SECRET="dev_jwt_secret_change_me"
EXTERNAL_AUTH_URL=""
EXTERNAL_AUTH_USER=""
EXTERNAL_AUTH_PASS=""
key_crypto=""
